// We are now extending tailwind theme instead of using sass for colors
// Keeping for reference.

@import "./variables";

$basetone: #466585;
$basemint: #02ed9d;
$baseblue: #009be2;
$basered: rgb(241, 70, 104);

$darkest: darken($basetone, 30%);
$darker: darken($basetone, 20%);
$dark: darken($basetone, 10%);
$light: lighten($basetone, 25%);
$lighter: lighten($basetone, 40%);
$lightest: lighten($basetone, 50%);

$least-minty: lighten($basemint, 35%);
$less-minty: lighten($basemint, 20%);
$minty: $basemint;
$mintier: saturate($basemint, 20%);
$mintiest: saturate($basemint, 60%);

$least-blue: darken($baseblue, 15%);
$less-blue: darken($baseblue, 5%);
$blue: $baseblue;
$bluer: lighten($baseblue, 5%);
$bluest: lighten($baseblue, 15%);

$least-red: darken($basered, 15%);
$less-red: darken($basered, 5%);
$red: $basered;
$more-red: lighten($basered, 5%);
$most-red: lighten($basered, 15%);

$color: #118bee;
$color-accent: #118bee15;
$color-bg: #fff;
$color-bg-secondary: $least-blue;
$color-secondary: $basetone;
$color-secondary-accent: #920de90b;
$color-border: $least-blue;
$color-shadow: #f4f4f4;
$color-text: #000;
$color-text-secondary: #999;
