$border-radius: 5px;
$font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$hover-brightness: 1.5;
$justify-important: center;
$justify-normal: left;
$line-height: 1.5;
$width-card: 285px;
$width-card-medium: 460px;
$width-card-wide: 800px;
$width-content: 1920px;
