/* MVP.css v1.6.2 - https://github.com/andybrewer/mvp */

@import "./variables";
@import "./colors";
@import "./mixins";

article {
  aside {
    background: $color-secondary-accent;
    border-left: 4px solid $color-secondary;
    padding: 0.01rem 0.8rem;
  }
  header {
    padding-top: 0;
  }
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-family;
  line-height: $line-height;
  margin: 0;
  overflow-x: hidden;
  padding: 0 0;
}

footer {
  margin: 0 auto;
  max-width: $width-content;
  padding: 2rem 1rem;
}

header {
  margin: 0 auto;
  max-width: $width-content;
  padding: 2rem 1rem;
  text-align: $justify-important;
  a {
    b {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    em {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    i {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    strong {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  nav {
    img {
      margin: 1rem 0;
    }
  }
}

main {
  margin: 0 auto;
  max-width: $width-content;
  padding: 2rem 1rem;
  header {
    padding-top: 0;
  }
}

hr {
  background-color: $color-bg-secondary;
  border: none;
  height: 1px;
  margin: 4rem 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-important;
  aside {
    border: 1px solid $color-bg-secondary;
    border-radius: $border-radius;
    margin: 1rem;
    padding: 1.25rem;
    width: $width-card;
    @include has-box-shadow;

    img {
      max-width: 100%;
    }
  }
  header {
    padding-top: 0;
    width: 100%;
  }
}

[hidden] {
  display: none;
}

div {
  header {
    padding-top: 0;
  }
}

nav {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 7rem;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 0.5rem;
      position: relative;
      text-align: left;
      &:hover {
        ul {
          display: block;
        }
      }
      ul {
        background: $color-bg;
        border: 1px solid $color-bg-secondary;
        border-radius: $border-radius;
        @include has-box-shadow;
        display: none;
        height: auto;
        left: -2px;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 1.7rem;
        white-space: nowrap;
        width: auto;
        li {
          display: block;
          a {
            display: block;
          }
        }
      }
    }
  }
}

code {
  background-color: $color-accent;
  border-radius: $border-radius;
  color: $color-text;
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
}

samp {
  background-color: $color-accent;
  border-radius: $border-radius;
  color: $color-text;
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
}

details {
  margin: 1.3rem 0;
  summary {
    font-weight: bold;
    cursor: pointer;
  }
}

h1 {
  line-height: $line-height;
}

h2 {
  line-height: $line-height;
}

h3 {
  line-height: $line-height;
}

h4 {
  line-height: $line-height;
}

h5 {
  line-height: $line-height;
}

h6 {
  line-height: $line-height;
}

mark {
  padding: 0.1rem;
}

ol {
  li {
    padding: 0.2rem 0;
  }
}

ul {
  li {
    padding: 0.2rem 0;
  }
}

p {
  margin: 0.75rem 0;
  padding: 0;
}

pre {
  margin: 1rem 0;
  max-width: $width-card-wide;
  padding: 1rem 0;
  code {
    display: block;
    max-width: $width-card-wide;
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
  }
  samp {
    display: block;
    max-width: $width-card-wide;
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
  }
}

small {
  color: $color-text-secondary;
}

sup {
  background-color: $color-secondary;
  border-radius: $border-radius;
  color: $color-bg;
  font-size: xx-small;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -2px;
}

a {
  color: $color-secondary;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: filter 0.5s;
  &:hover {
    filter: brightness($hover-brightness);
    text-decoration: underline;
  }
  b {
    border-radius: $border-radius;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: $line-height;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    background-color: $color;
    border: 2px solid $color;
    color: $color-bg;
  }
  em {
    border-radius: $border-radius;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: $line-height;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    border: 2px solid $color;
    border-radius: $border-radius;
    color: $color;
    display: inline-block;
    padding: 1rem 2rem;
  }
  i {
    border-radius: $border-radius;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: $line-height;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    border: 2px solid $color;
    border-radius: $border-radius;
    color: $color;
    display: inline-block;
    padding: 1rem 2rem;
  }
  strong {
    border-radius: $border-radius;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: $line-height;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    background-color: $color;
    border: 2px solid $color;
    color: $color-bg;
  }
}

button {
  border-radius: $border-radius;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: $line-height;
  margin: 0.5rem 0;
  padding: 1rem 2rem;
  font-family: $font-family;
  background-color: $color;
  border: 2px solid $color;
  color: $color-bg;
  transition: filter 0.5s;
  &:hover {
    cursor: pointer;
    filter: brightness($hover-brightness);
  }
  &:disabled {
    background: $color-bg-secondary;
    border-color: $color-bg-secondary;
    color: $color-text-secondary;
    cursor: not-allowed;
  }
}

figure {
  margin: 0;
  padding: 0;
  img {
    max-width: 100%;
  }
  figcaption {
    color: $color-text-secondary;
  }
}

input {
  &:disabled {
    background: $color-bg-secondary;
    border-color: $color-bg-secondary;
    color: $color-text-secondary;
    cursor: not-allowed;
  }
  display: block;
  font-size: inherit;
  max-width: $width-card-wide;
  border: 1px solid $color-bg-secondary;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

button[disabled] {
  &:hover {
    filter: none;
  }
}

form {
  border: 1px solid $color-bg-secondary;
  border-radius: $border-radius;
  @include has-box-shadow;
  display: block;
  max-width: $width-card-wide;
  min-width: $width-card;
  padding: 1.5rem;
  text-align: $justify-normal;
  header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
  }
}

label {
  display: block;
  font-size: inherit;
  max-width: $width-card-wide;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

select {
  display: block;
  font-size: inherit;
  max-width: $width-card-wide;
  border: 1px solid $color-bg-secondary;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

textarea {
  display: block;
  font-size: inherit;
  max-width: $width-card-wide;
  border: 1px solid $color-bg-secondary;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input[type="radio"] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input[readonly] {
  background-color: $color-bg-secondary;
}

textarea[readonly] {
  background-color: $color-bg-secondary;
}

table {
  border: 1px solid $color-bg-secondary;
  border-radius: $border-radius;
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
  td {
    padding: 0.4rem 0.8rem;
    text-align: $justify-important;
  }
  th {
    padding: 0.4rem 0.8rem;
    text-align: $justify-important;
  }
  tr {
    padding: 0.4rem 0.8rem;
    text-align: $justify-important;
    td {
      &:first-child {
        text-align: $justify-normal;
      }
    }
    &:nth-child(even) {
      background-color: $color-accent;
    }
  }
  thead {
    background-color: $color;
    border-collapse: collapse;
    border-radius: $border-radius;
    color: $color-bg;
    margin: 0;
    padding: 0;
    th {
      &:first-child {
        border-top-left-radius: $border-radius;
        text-align: $justify-normal;
      }
      &:last-child {
        border-top-right-radius: $border-radius;
      }
    }
  }
}

blockquote {
  display: block;
  font-size: x-large;
  line-height: $line-height;
  margin: 1rem auto;
  max-width: $width-card-medium;
  padding: 1.5rem 1rem;
  text-align: $justify-important;
  footer {
    color: $color-text-secondary;
    display: block;
    font-size: small;
    line-height: $line-height;
    padding: 1.5rem 0;
  }
}
